.search-toolbar {
  background-color: rgb(104, 136, 191);
}
.search-form {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.search-form__input {
  padding: 5px;
  width: 250px;
  border: none;
  outline: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  font-size: 15px;
  cursor: pointer;
}

.search-form__button {
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

.search-form__loup {
  color: black;
  padding: 5px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card {
  margin: 10px 20px;
  border: 1px solid #afaeae;
}

.photo-img {
  display: block;
  height: 220px;
  width: 350px;
}

.info {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 18px 25px -18px rgba(66, 68, 90, 1);
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.info-item__numbers {
  padding-top: 5px;
}

.load-more {
  display: flex;
  margin: 0px auto 10px;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: rgb(104, 136, 191);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-add__btm {
  height: 50px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: rgb(104, 136, 191);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
// .load-div {
//   display: flex;
//   flex-direction: row;
// }
